<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>To Do List Demo</title>
        <script src="lib/angular.min.js"></script>

        <script src = "controller/toDoController.js" ></script>
        <link href="style/toDoCss.css" rel="stylesheet" type="text/css"> 

    </head>
    <body ng-app="toDoApp" ng-controller="toDoCtrl">
        <div>
            <h1 align="center">Add Task</h1>
            <input class="enterTask" ng-keyup="searchEnter()" ng-model="task" type="text" >
            <ul>
                <li ng-repeat="onetask in TaskList track by $index">
                    <input type="checkbox" ng-model="onetask.status" />

                    <span contenteditable="false" ng-keydown="editAgain(onetask.taskMessage)" ng-dblclick="edit(onetask.taskMessage)" ng-model="onetask.taskMessage" class="done-{{onetask.status}}">
                        {{onetask.taskMessage}}
                    </span>
                </li>
            </ul>
            <div class="note">
                Note: You can edit your task by double clicking on task. After Done with editing press enter.
            </div>
        </div>
    </body>
</html>
